.board {
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  grid-template-rows: repeat(3, 6rem);
  justify-content: center;
  margin: 5rem;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;

  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(7),
  &:nth-child(8) {
    border-right: 1px solid black;
  }

  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6) {
    border-bottom: 1px solid black;
  }

  .board:not(.complete) & {
    cursor: pointer;
  }

  .complete & {
    color: lightgrey;
  }

  .winner-x &.line-complete {
    color: rgb(36, 130, 55);
  }

  .winner-o &.line-complete {
    color: rgb(36, 66, 147);
  }
}

.square-hover {
  position: absolute;
  color: transparent;

  .board:not(.complete) &:hover:not(.selected) {
    color: black;
    opacity: .15;
  }
}


